<!DOCTYPE html>
<html>
    <head>
        <title>The Tech Insider</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="homepage.css">
    </head>
    <body>
        <div id="top-div">
            <h1>Welcome to The Tech Insider</h1>
            <h3>A place where you can find tech news</h3>
        </div>
        <table cellspacing="15px" align="center">
            <tr>
                <td>
                    <h4>Programming</h4>
                    <p>
                        the ultimate destination for the latest news, updates, and insights in the<br>
                        world of software development. Whether you're a seasoned developer or just getting<br>
                        started, our team of expert reporters brings you the most up-to-date coverage of the<br>
                        latest trends, tools, and techniques in programming. From web development to machine<br>
                        learning, our programming section provides you with the resources and information you<br>
                        need to stay informed and excel in the dynamic world of software development.
                    </p>
                    <a href="/programming">Read more</a>
                </td>
                <td><img id="programming" src="programming.gif" alt="programming"></td>
            </tr>
        </table>
        <table cellspacing="15px" align="center">
            <tr>
                <td><img id="smartphones" src="smartphones.webp" alt="smartphones"></td>
                <td>
                    <h4>Smartphones</h4>
                    <p>
                        Welcome to our smartphone section, where we cover the latest news,<br>
                        reviews, and updates about the constantly evolving world of smartphones.<br>
                        Stay informed about the latest product releases and advancements in mobile<br>
                        technology with our team of expert tech reporters.
                    </p>
                    <a href="/smartphones">Read more</a>
                </td>
            </tr>
        </table>
        <table cellspacing="15px" align="center">
            <tr>
                <td>
                    <h4>Laptops</h4>
                    <p>
                        Introducing our laptop section - your go-to destination for the latest<br>
                        news, reviews, and updates in the world of laptops. Stay up-to-date on the<br>
                        newest models, features, and advancements in portable computing with our team<br>
                        of expert tech reporters. Whether you're a student, professional, or simply a<br>
                        tech enthusiast, our laptop section has everything you need to know to stay on<br>
                        the cutting edge of the latest technology.
                    </p>
                    <a href="/laptops">Read more</a>
                </td>
                <td><img id="laptops" src="laptops.gif" alt="laptops"></td>
            </tr>
        </table>
        <table cellspacing="15px" align="center">
            <tr>
                <td><img id="gaming" src="gaming.gif" alt="gaming"></td>
                <td>
                    <h4>Gaming</h4>
                    <p>
                        Introducing our gaming section - the ultimate destination for the latest news,<br>
                        reviews, and updates in the world of gaming. Stay up-to-date on the newest releases,<br>
                        updates, and advancements in gaming with our team of expert reporters. Whether you're<br>
                        a console or PC gamer, our gaming section has everything you need to stay informed<br>
                        and connected to the latest in the world of gaming.
                    </p>
                    <a href="/gaming">Read more</a>
                </td>
            </tr>
        </table>
        <table cellspacing="15px" align="center">
            <tr>
                <td>
                    <h4>Artificial Intelligence</h4>
                    <p>
                        Welcome to our AI section - your source for the latest news, research, and updates in<br>
                        the exciting world of Artificial Intelligence. From machine learning to natural language<br>
                        processing, our team of expert reporters brings you the most comprehensive coverage of this<br>
                        rapidly evolving field. Whether you're a researcher, developer, or simply someone interested<br>
                        in the future of technology, our AI section provides the insights and analysis you need to<br>
                        stay on top of the latest trends and breakthroughs in AI.
                    </p>
                    <a href="/AI">Read more</a>
                </td>
                <td><img id="AI" src="AI.gif" alt="AI"></td>
            </tr>
        </table>
        <div align="center">
            <form action="/search" method="post">
                <label>Looking for something else?</label>
                <br>
                <input type="text" name="searchQuery">
                <br>
                <button type="submit">Search</button>
            </form>
        </div>
    </body>
</html>
